/* {background-color : radial-gradient(circle, #ffff00, #ffa500);
} */
body {
  padding: 0;
  margin: 0;
  /* background: rgb(2,0,36); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,121,0.49422029554009106) 25%, rgba(0,212,255,1) 100%); */
  background: radial-gradient(circle, #ffff00, #ffa500);
  /* background-color: wheat; */
}
/* navigation container */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid red;
}
.img-div {
  width: auto;
}
.img-div img {
  width: 15vh;
}

/* input container for new attendance */
.input-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
  justify-content: space-evenly;
  align-items: center;
}
.div-input-1 {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 90vw;
  padding: 10px;
}
/* #rollNumberInput, */
#inputSubName,
#inputSem,
#inputBranch {
  width: 200px;
  transition: linear;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  /* background-color: rgb(201, 162, 63); */
  box-shadow: 0px 10px 5px 5px rgba(15, 13, 13, 0.2);
  transition: box-shadow 0.8ms ease-in-out;
  /* background-color: rgb(120, 213, 232) ; */
}
#inputSubName:hover,
#inputSem:hover,
#inputBranch:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  /* transform: rotateY(10px); */
}
#inputSubName:focus,
#inputSem:focus,
#inputBranch:focus {
  border: 1px solid green;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

#inputSubName option,
#inputSem option,
#inputBranch option {
  background-color: #f4be00;
}

.btns,
#getStart,
#discardBtn,
#btnToAdd,
#submitBtn,
#searchBtn,
#hideStudent {
  border-radius: 20px;
  margin: 5px;
  border: none;
  outline: none;
  background-color: #ffa500;
  padding: 10px 20px;
  font-size: 14px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-out;
}
.btns:focus,
#getStart:focus,
#discardBtn:focus,
#btnToAdd:focus,
#submitBtn:focus,
#searchBtn:focus,
#hideStudent:focus{
  border: 1px solid green;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  }
  .btns:hover,
  #getStart:hover,
  #discardBtn:hover,
  #btnToAdd:hover,
  #submitBtn:hover,
  #searchBtn:hover,
  #hideStudent:hover
  {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}
/* .div-input-1 input {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
} */

.inputs-fiels{
  padding: 7px 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 15px;
  border: none;
  border: 1px solid #ddb113;
  /* appearance: none; */
  box-shadow: 0px 10px 5px 5px rgba(15, 13, 13, 0.2);
  transition: box-shadow 0.3s ease-out;
}
.inputs-fiels:focus {
  border: 1px solid green;
  outline: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
.div-input-2 {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.div-input-2 input,
button {
  margin: 5px;
}
.name-container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  animation: fadeInScale 0.5s ease-in-out;
  /* grid-template-columns: repeat(3, 6fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-gap: 10px; */
  /* overflow: scroll; */
}
/* Apply to the entire webpage */
/* .name-container::-webkit-scrollbar { */
  /* width: 10px; Width of the scrollbar */
  /* height: 10px; Height for horizontal scrollbar */
/* } */

/* .name-container::-webkit-scrollbar-thumb { */
  /* background-color: #c61111; Scrollbar thumb color */
  /* border-radius: 10px; Rounded corners */
/* } */

/* .name-container::-webkit-scrollbar-track { */
  /* background-color: #180101; Scrollbar track color */
/* } */
/* .showRecord{ */
  /* display: flex;
  flex-wrap: wrap; */
/* } */
.showRecord{
  display: none;
}
#divForlectureAttendance{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.studentDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3px 5px;
  width: 300px;
  padding: 0 5px;
  border-radius: 10px;
  border: 1px dotted black;
  transition: box-shadow 0.3ms ease-in-out;
} */
.studentDiv:hover {
  transform: translateY(-3px);
}
.studentDiv p {
  color: black;
  margin: 4px 8px;
}

.nameSubDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
}
@media (max-width:540px) {
  .nameSubDiv{
    /* justify-content: start; */
  }
}
@media (max-width: 768px) {
  .div-input-1 {
    justify-content: start;
  }
  .div-input-2 {
    justify-content: start;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section button {
  color: black;
  background-color:#ebe048;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-out;
}
.section button:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}
.findDiv {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
#inputSubName option {
  color: black;
  background-color: rgb(120, 213, 232);
  /* outline: none; */
  border-bottom: 0.5px solid black;
  border-radius: 10px;
}

.alertBox {
  font-size: large;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #20b2aa;
  padding: 15px;
  min-width: 400px;
  max-width: 600px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translateX(-50%);
  animation: fadeInOut 2.5s ease-in-out;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
/* notification msg div */
.classStatusDivTag {
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  margin-top: -9px;
}
#classStatusPTag {
  /* width: 50%; */
  margin: 0px;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  background-color: navy;
  color: white;
  font-size: smaller;
}
/* pop up style */
.popup-container {
  width: 300px;
  display: inline block;
  justify-content: end;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5vh;
}
.popup-container button {
  margin: 1vh;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
}

@media (max-width: 540px) {
  .div-input-1 {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    width: 90vw;
  }
  .div-input-1 div{
    margin: 5px;
  }
  .inputs-fiels{
    margin: 0;
    width:120px
  }
  #inputSubName,
#inputSem,
#inputBranch{
  margin: 5px;
  width: 150px;
}
.btns,
#getStart,
#discardBtn,
#btnToAdd,
#submitBtn,
#searchBtn,
#hideStudent{
  padding: 5px;
  margin: 5px;
}



  /* .div-input-1 input {
    margin: 0px;
    padding: 5px;
    font-size: 10px;
    background-color: transparent;
  } */
}
/* Teacher subject div in find section */
.faNameTag,
.subTag {
  padding: 3px 20px;
  margin: 5px;
  color: white;
  background-color: cadetblue;
  border-radius: 10px;
}

/* new class btn and find btn style */
.active{
  display: block;
}
.deactive{
  display: none;
}
.active-btn{
  background-color:#007bff;
}
.deactive-btn{
  background-color:burlywood;
}
/* console.log(record["faculty"]);
console.log(record["subject"]);
console.log(record["subCode"]);
console.log(record["lectureNumber"]);
console.log(record["branchCode"]);
console.log(record["branchName"]);
console.log(record["semCode"]);
console.log(record["Semester"]);
console.log(record["attendance"]); */

/* <option value="301">EEE (301)</option>
<option value="302">Discrete Structure (302)</option>
<option value="303">Data Structure (303)</option>
<option value="304">Digital System (304)</option>
<option value="305">OOP (305)</option>
<option value="306">java Lab (306)</option>
<option value="307">IPT (307)</option> */

/* dropdown css */
/* #inputSem option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */
